---
name: Update README stats cards

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Generate stats card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: username=michen00&show_icons=true&include_all_commits=true&show=prs_merged%2Cprs_merged_percentage%2Creviews&theme=transparent
          path: profile/stats.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate top languages card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: top-langs
          options: username=michen00&size_weight=0.5&count_weight=0.5&layout=compact&theme=transparent
          path: profile/top-langs.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate WakaTime card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: wakatime
          options: username=b8880cff-94eb-4038-b5d6-45a81cd5c739&layout=compact&theme=transparent
          path: profile/wakatime.svg
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Commit cards
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add profile/*.svg
          git commit -m "Update README stats cards" || exit 0
          git push
